<div class="l-form-container">
  <h2 class="reset-greeting">Enter Your Email</h2>
  <h6>We'll send a link to reset your password:</h6>
  <!--FORM BOX-->
  <form>
    <label class="screen-reader" for="password-reset-email">Enter Email</label>
    <div class="input">
      <input type="email" class="text-input" placeholder="Email" required />
    </div>

    <label class="screen-reader" for="password-reset-email-btn"></label>
    <label class="screen-reader" for="register-btn"></label>
    <<button class="hero-btn l-submit" type="submit">Submit</button>
  </form>
</div>
