// Grid Containers
.grid {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid: "header" 0.3fr "main" 2fr "footer" 0.2fr / 1fr;
}

.header {
  background: $header-bkg;
  border-bottom: 1px solid $border-grey;
  grid-area: header;
  padding: 0px 5px;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  height: 100%;
  margin: 0 auto;
  background-image: $svg-bkg;
  background-color: $green-bkg;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  grid-area: footer;
  background: $header-bkg;
}

// Flex Containers
.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.flex-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
