$primary: #1a7725;
$secondary: #13b10d;
$bkg-color: #c5c1c14e;
$text-color: #000;
$heading-shadow: none;
$border-grey: rgba(47, 50, 50, 0.64);
$btn-hover: #39a145;
$input-bkg: rgba(210, 207, 207, 0.231);
$caret: $secondary;
$header-bkg: linear-gradient(90deg, #7dea4b 0%, #008552 100%);
$green-bkg: linear-gradient(
  196deg,
  #6ebb6eaa 0%,
  #78c16488 50%,
  #7eb57e9d 100%
);
$svg-bkg: url("../app-images/transparent-blob.svg");
$theme-icon: url("../app-images/theme-moon.svg");
$theme-icon-color: #72dd40;
$font-stack: "Anonymous-Pro", sans-serif;

html[data-theme="dark"] {
  $primary: #1a7725;
  $secondary: #13b10d;
  $bkg-color: #020507;
  $text-color: #fff;
  $heading-shadow: 5px 0px 2px #1b1b1b, 1px 1px 1px #b9b5b5;
  $border-grey: rgba(47, 50, 50, 0.64);
  $btn-hover: #56d465d4;
  $input-bkg: rgba(39, 36, 36, 0.219);
  $caret: $secondary;
  $header-bkg: linear-gradient(
    90deg,
    #1a7725 10%,
    #148721 20%,
    #13b10d 50%,
    #1a7725 85%
  );
  $green-bkg: linear-gradient(
    196deg,
    #6ebb6eaa 0%,
    #78c16488 50%,
    #7eb57e9d 100%
  );
  $svg-bkg: url("../app-images/transparent-blob.svg");
  $theme-icon: url("../app-images/theme-sun.svg");
  $theme-icon-color: #72dd40;
}
