/* ! Separate file for now but this would be in global.css and activated by a js/ts function normally */

:root {
    --dark-bkg-color: #020507;
    --drk-text-color: #fff;
    --dark-blue: #386de9ff;
    --dark-green: #23bf15;
    --light-blue: #6788f4ff;
    --light-green: #0fdb36;
}


form {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color) !important;
}

form input:focus {
    color: var(--text-color) !important;
}