@import url('global.css');

/* Grid layouts */
.grid {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid:
        "header" 0.3fr "main" 2fr "footer" 0.2fr / 1fr;
    gap: 2px;

}

.header {
    grid-area: header;
    display: inline-block;
    align-items: flex-end;
    padding: 40px;

}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 30px;
    width: 100%;
    margin: 0 auto;

}

.footer {
    grid-area: footer;
}

/* Flex layouts */
.flex-header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.flex-footer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.hero-bkg {
    background-image: url(../images/blob.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.hero-info {
    margin: 15px 0;

}

.hero-btns {
    padding: 10px;
    justify-content: flex-end;
    align-self: center;
}

.hero-btn {
    text-transform: uppercase;
    color: white;
    margin: 0 10px;
    padding: 12px 24px;
    border-radius: 0.5em;
    border: 1px solid #f4f4f4;
    cursor: pointer;
    background: var(--dark-green);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px var(--light-green);
    /* background: var(--dark-blur);
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -6px -6px 12px var(--light-blue); */
}

.hero-btn:hover {
    border: 1px solid white;
}

.hero-btn:active {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1), 0 -0 12px #fff;
}

/* Input Fields */
#reset-form {
    width: 70%;
    height: 100%;
}

#reset-form input {
    margin-top: 0px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 10px;
    align-self: center;
    text-align: center;
    padding: 15px 20px 15px 20px;
    height: 100%;
}

form {
    align-self: center;
    margin-top: 10px;
    padding: 15px;
    border-radius: 25px;
}

form input {
    display: block;
    width: 90%;
    margin: 15px 75px 15px 75px;
    height: 50px;
    padding-left: 20px;
    border: 1px solid var(--dark-bkg);
}

form input:focus {
    outline: .5px solid var(--light-green);
}

.forgot-link {
    text-decoration: underline;
    font-size: 16px;
}

.reset-greeting {
    text-decoration: none;
    font-size: 2.5rem;
}