/* Grid layouts */
.grid {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid:
        "header" 0.3fr "main" 2fr "footer" 0.2fr / 1fr;
}

.header {
    background: var(--header-bkg);
    border-bottom: 1px solid var(--border-grey);
    grid-area: header;
    display: inline-block;
    align-items: flex-end;
    padding: 0px 5px;
}

.logo {
    max-width: 175px;
    max-height: 100px;

}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    height: 100%;
    margin: 0 auto;
}

.footer {
    grid-area: footer;
}

/* Flex layouts */
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.flex-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    margin: 20px 0;
}


.hero-btns {
    padding: 10px;
    justify-content: flex-end;
    align-self: center;
}

.hero-btn {
    background-color: var(--bkg-color);
    color: white;
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 0.5em;
    border: 1px solid #f4f4f4;
    cursor: pointer;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1), -4px -4px 5px var(--light-green);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-btn:hover {
    border: none;
    font-size: 18px;
    background-color: var(--light-green);
    box-shadow: 8px 8px 12px rgba(93, 92, 92, 0.573);

}

.hero-btn:active {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1), 0 -0 12px #fff;
}

/* Input Fields */
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    padding: 15px 20px 15px 20px;
}

.forgot-link {
    text-decoration: underline;
    font-size: 16px;
    color: var(--text-color);
}