body {
  font-family: var(--font-stack);
  font-weight: 400;
  background-color: var(--bkg-color);
  color: var(--text-color);
  letter-spacing: 0.5px;
}

/* Header styles */
:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Sora", -apple-system, system-ui, BlinkMacSystemFon, Roboto, "Helvetica-Neue", Arial, sans-serif;
  font-weight: 500;
  text-shadow: var(--heading-shadow);
  margin: 10px 0 15px 0;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  width: 40%;
  min-height: fit-content;
  margin: 0 auto;
  padding: 15px;
}

form label {
  font-size: 18px;
  margin-bottom: -10px;
  visibility: hidden;
}

form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--secondary);
  border-radius: 3px;
  outline: none;
  color: var(--text-color);
  display: block;
  margin: 0 auto;
  width: 60%;
  font-size: 15px;
  height: 40px;
  padding-left: 10px;
  caret-color: var(--caret);
}

form input:focus {
  border: none;
  border-bottom: 3px solid var(--secondary);
  border-radius: 3px;
  outline: none;
}

form input:placeholder {
  font-family: "Oxygen";
  font-weight: bold;
  opacity: 0.7;
  letter-spacing: 5px;
}

/* Accessibility class */
.screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Buttons */
.hero-btn {
  font-size: 17px;
  font-weight: 700;
  font-family: "Oxygen";
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 10px;
  padding: 10px 25px;
  border-radius: 0.5em;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  background-color: var(--secondary);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1), -2px -2px 8px var(--primary);
}

.hero-btn:hover {
  background-color: var(--btn-hover);
  border: 1px solid #f4f4f4;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1), 0 0 12px #fff;
}

.hero-btn:active {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1), 0 0 20px #fff;
}
