html,
body {
  height: 100%;
}
html h1,
body h1 {
  font-size: 3.5rem;
}
html h2,
body h2 {
  font-size: 2rem;
}
html h3,
body h3 {
  font-size: 1.5rem;
}
html p,
body p {
  font-weight: 200;
  margin: 10px;
}
html footer,
body footer {
  font-size: 14px;
  margin: 0;
  border-top: 1px solid var(--border-grey);
}
html a,
body a {
  text-decoration: none;
  color: initial;
}
html a:hover,
body a:hover {
  text-decoration: none;
}
html ul,
body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
