<div class="container-fluid px-1">
  <h3 class="text-center mt-3">Budget Tracker</h3>

  <div
    class="row row-cols-md-2 justify-content-around align-content-center p-4"
  >
    <div
      class="dash-card col-md-5 mx-auto border border-success border-3 rounded mt-5 p-2"
    >
      <h3 class="text-center">Income</h3>
      <p class="fs.4 text-center text-success lead">(+$00)</p>
    </div>

    <div
      class="dash-card col-md-5 mx-auto border border-success border-3 rounded mt-5 p-2"
    >
      <h3 class="text-center">Expenses</h3>
      <p class="fs.4 text-center text-danger lead">(-$00)</p>
    </div>
  </div>
</div>
