@import 'resets.css';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* TODO: Add screen-reader class to labels */
/* TODO: Check other variables from dark-global */
/* ? hero-bkg (mask?) */
/* TODO: Update other html with index */

:root {
    --primary: #1a7725;
    --secondary: #13b10d;
    --bkg-color: #c5c1c14e;
    --text-color: #000;
    --heading-shadow: none;
    --border-grey: rgba(47, 50, 50, 0.64);
    --btn-hover: #39a145;
    --input-bkg: rgb(230, 227, 227);
    --header-bkg: linear-gradient(90deg, #7dea4b 0%, #008552 100%);
    --green-bkg: linear-gradient(196deg, #6ebb6eaa 0%, #78c16488 50%, #7eb57e9d 100%);
    --svg-bkg: url("../images/transparent-blob.svg");
    --theme-icon: url(../images/theme-moon.svg);
    --theme-icon-color: #72dd40;
}


[data-theme="dark"] {
    --primary: #1a7725;
    --secondary: #13b10d;
    --bkg-color: #020507;
    --text-color: #fff;
    --heading-shadow: 5px 0px 2px #1b1b1b, 1px 1px 1px #b9b5b5;
    --border-grey: rgba(47, 50, 50, 0.64);
    --btn-hover: var(--secondary);
    /* --btn-hover: #39a145; */
    --input-bkg: rgb(39, 36, 36);
    --header-bkg: linear-gradient(90deg, #1a7725 10%, #148721 20%, #13b10d 50%, #1a7725 85%);
    --green-bkg: linear-gradient(196deg, #6ebb6eaa 0%, #78c16488 50%, #7eb57e9d 100%);
    --hero-bkg: url(../images/transparent-blob.svg) cover no-repeat fixed var(--green-bkg);
    --svg-bkg: url("../images/transparent-blob.svg");
    --theme-icon: url(../images/theme-sun.svg);
    --theme-icon-color: #148721;

}

body {
    background-color: var(--bkg-color);
    font-family: 'Anonymous Pro', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
        Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* Header styles */
:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Sora', -apple-system, system-ui, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    color: inherit;
    text-shadow: var(--heading-shadow);
    margin: 10px 0 15px 0;
}

/* Theme switch button */
/* the bkg color is only used to change the icon outline */
#theme-btn {
    width: 40px;
    height: 30px;
    position: relative;
    top: -5px;
    right: -5px;
    padding: 5px;
    margin: 0 3px;
    overflow: visible;
    mask-image: var(--theme-icon);
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--theme-icon-color);

}

#theme-btn:hover {
    cursor: pointer;
    transform: scale(1.75);
    background-color: white;
}

/* ! Remove when refactoring */
button {
    align-self: center;
    /*
    margin: 0;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    */
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    width: 40%;
    min-height: fit-content;
    margin: 0 auto;
    padding: 15px;
}

label {
    font-size: 18px;
    margin-bottom: -10px;
    visibility: hidden;
}

input {
    background-color: var(--input-bkg);
    border: 1px solid var(--border-grey);
    border-radius: 2px;
    color: var(--text-color);
    display: block;
    margin: 0 auto;
    width: 60%;
    font-size: 15px;
    height: 40px;
    padding-left: 10px;
    outline-width: none;
}

/* TODO: Add caret-color */
input:focus {
    border: none;
    outline: 2px solid var(--secondary);
    border-radius: 3px;
}

/* Accessibility class */
.screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}