<nav class="flex-nav">
  <div class="header-left">
    <a href="home" routerLink="home">
      <img
        src="assets/droidlogo.png"
        class="logo"
        alt="DROID FINANCE"
        title="Back To Home"
      />
    </a>
  </div>
  <div class="header-right">
    <button (click)="goLogin()" class="hero-btn" id="login-btn" title="Login">
      Log In
    </button>
    <button
      (click)="goSignup()"
      class="hero-btn"
      id="signup-btn"
      title="Sign Up"
    >
      Sign Up
    </button>
    <!-- theme switcher -->
    <!-- TODO: Add other nav bar in users -->
    <button
      id="theme-btn"
      type="button"
      title="Toggle Color Mode"
      aria-pressed="false"
    ></button>
  </div>
</nav>
