<div class="l-form-container">
  <h2>Welcome Back</h2>
  <h6>Log into your user account:</h6>
  <!--FORM BOX-->
  <!-- TODO: (ngSubmit)="submit()" when login is done -->
  <form>
    <label class="screen-reader" for="login-email">Enter Email</label>
    <div class="input">
      <input type="email" class="input-text" placeholder="Email" required />
    </div>
    <label class="screen-reader" for="login-password">Enter Password</label>
    <div class="input">
      <input
        type="password"
        class="input-text"
        placeholder="Password"
        required
      />
    </div>
    <label class="screen-reader" for="login-btn"></label>
    <button class="hero-btn l-submit" type="submit">Login</button>
  </form>
  <a routerLink="/forgotpw" href="/forgot-password" class="forgot-link"
    >Forgot password?</a
  >
</div>
