<div class="container-fluid">
  <h2 class="text-center">Send & Request</h2>
  <div class="row justify-content-around align-content-center mt-5">
    <button class="button" (click)="goBack()">Back</button>
    <div class="col-5 border border-success border-3 rounded">
      <form [formGroup]="formdata" role="form" class="send-form" (ngSubmit)="PostToTransaction(formdata.value)">
        <label for="send-to">Account from: </label>
        <div class="input-group mb-2">
          <input
            formControlName="src_acct"
            type="number"
            class="form-control"
            id="from-acc"
            placeholder="Routing #"
          />
        </div>
        <label for="send-to">Account to: </label>

        <div class="input-group">
          <input
            formControlName="dst_acct"
            type="number"
            class="form-control"
            id="send-to"
            placeholder="Routing #"
          />
        </div>

        <label for="send-amount">Amount:</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input formControlName="amount" type="number" class="form-control" id="send-amount" />
        </div>

        <button type="submit" class="btn btn-block btn-success">Send</button>
      </form>
    </div>
  </div>
  <!-- Pending Requests -->
  <div class="row justify-content-around align-content-center mt-5 mb-3">
    <h3 class="text-center">Pending Requests:</h3>
    <div class="col-5 border border-success border-3 rounded">
      <form role="form" class="send-form">
        <p>From:</p>
        <input
          readonly
          type="text"
          class="form-control"
          value="(Show First Name)"
          disabled
        />

        <p>Amount:</p>
        <input
          readonly
          type="text"
          class="form-control"
          value="(Show Amount)"
          disabled
        />

        <div class="col-15 mx-auto">
          <div class="btn-group">
            <button type="button" class="btn dash-btn btn-success mb-3">
              Approve
            </button>
            <button type="button" class="btn dash-btn btn-success mb-3">
              Deny
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
