<div class="flex-home">
  <div>
    <h1>Welcome to Droid</h1>
    <h2>Banking made simple and stress-free.</h2>
  </div>
  <div class="hero-info">
    <span class="icon">
      <img src="assets/arrow.svg" alt="arrow" />
      Checking and savings accounts with no monthly fees.
    </span>

    <div class="hero-info">
      <span class="icon">
        <img src="assets/arrow.svg" alt="arrow" />
        Large network of no-fee ATMs.
      </span>
    </div>

    <div class="hero-info">
      <span class="icon">
        <img src="assets/arrow.svg" alt="arrow" />
        No fees for lost or stolen cards.
      </span>
    </div>
  </div>

  <div class="hero-info info-btn-wrap">
    <<button class="hero-btn l-submit" id="faq-btn" title="FAQ Page">
      Learn More
    </button>
  </div>
</div>
