#faq-btn {
  font: {
    family: "Sora";
    weight: 400;
    size: 1.5rem;
  }
  &:hover {
    background-color: #28cd23;
    transform: scale(1.1);
  }
}

.hero-info {
  margin: 20px 0;
}

.hero-faq-btn {
  padding: 10px;
  justify-content: flex-end;
  align-self: center;
}
