<div class="container-fluid">
  <h2 class="text-center">Transfer Funds</h2>
  <!-- TODO: Add Transfer -->
  <div class="row justify-content-center align-content-center p-2">
    <div class="col-5 border border-success border-3 rounded">
      <form role="form" class="send-form">
        <div class="dropdown">
          <!-- TODO: Show Accs in dropdown -->
          <!-- From Acc -->
          <div class="input-group mb-2">
            <button
              class="btn btn-success dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              From
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Checking</a></li>
              <li><a class="dropdown-item" href="#">Savings</a></li>
            </ul>
            <input
              readonly
              type="text"
              class="form-control"
              id="from-acc"
              value="(Show Chosen)"
              disabled
            />
          </div>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuBtn">
            <li><a class="dropdown-item" href="#">Checking</a></li>
            <li><a class="dropdown-item" href="#">Savings</a></li>
          </ul>
        </div>

        <!-- To Account -->
        <div class="input-group mb-2">
          <button
            class="btn btn-success dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            To
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Checking</a></li>
            <li><a class="dropdown-item" href="#">Savings</a></li>
          </ul>
          <input
            readonly
            type="text"
            class="form-control"
            id="to-acc"
            value="(Show Chosen)"
            disabled
          />
        </div>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuBtn">
          <li><a class="dropdown-item" href="#">Checking</a></li>
          <li><a class="dropdown-item" href="#">Savings</a></li>
        </ul>

        <label for="send-amount">Amount:</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" id="send-amount" />
        </div>

        <button type="submit" class="btn btn-block btn-success">
          Transfer
        </button>
      </form>
    </div>
  </div>
</div>
