label {
    visibility: visible;
    font-size: 22px;
}

.send-form {
    width: 75%;
}

.input-group-text {
    background-color: var(--secondary);
    color: white;
}

.dropdown-toggle {
    background-color: var(--secondary);
}
