<div class="container-fluid">
  <h2 class="text-center">Transfer Funds</h2>
  <!-- TODO: Add Transfer -->
  <div class="row justify-content-center align-content-center p-2">
    <div class="col-md">
      <div role="form">
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="text"
            class="form-control"
            aria-label="Amount (to the nearest dollar)"
          />
          <span class="input-group-text">.00</span>
        </div>
      </div>
    </div>
  </div>
</div>
